body {
    color: rgb(243, 243, 243);
    background-color: rgb(100, 27, 27);
}

.header-info {
    text-align: right;
    /* border-image: round; */
    /* width: 1000px; */
    /* height: 300px; */
    color: whitesmoke;


}

header {
    text-align: left;

}
.header-image { 
    height: 250px;
    align-items: left;


}

nav a {
    margin: 10px;
    background-color: unset;
    color: white;
    font-weight: bold;
    text-decoration: none;
    
}


.subheading-info {
    flex-wrap: wrap;
    border: 2px solid black;
    text-align: right;
    


}

.big-page-flexbox {
    display:flex; 
    flex-wrap: stretch;
    justify-content: space-evenly;
    border: 2px solid black;

}

.leftside-info {
    flex-wrap: wrap;
    border: 2px solid rgb(255, 255, 255);
    width: 550px;
    height: 550px;
    max-width: 550px;
    background-image:
      url("./Assets/img/collab-pic.jpg");
    background-color: transparent;

}
.leftside-info2 {
    flex-wrap: wrap;
    border: 2px solid rgb(255, 255, 255);
    width: 550px;
    height: 550px;
    max-width: 550px;
    background-image:
      url("./Assets/img/led lights.jpg");
  background-color: transparent;

}

.rightside-info {
    flex-wrap: wrap;
    border: 2px solid rgb(255, 255, 255);
    width: 550px;
    height: 550px; 
    justify-content: right;
    background-image:
      url("./Assets/img/skillsntrade.jpg");
  background-color: transparent;


}
.rightside-info2 {
    flex-wrap: wrap;
    border: 2px solid rgb(255, 255, 255);
    width: 550px;
    height: 550px; 
    justify-content: right;
    background-image:
      url("./Assets/img/working-pic.jpg");
  background-color: transparent;


}

.leftsidebox {
    border: 3px solid rgb(25, 8, 85);
    height:550px;
    width:550px;
}

.subheading-info {
    flex-wrap: wrap;
    border: 2px solid rgb(69, 185, 16);


}
.subheading-info {
    flex-wrap: wrap;
    border: 2px solid rgb(214, 30, 184);


}
.subheading-info {
    flex-wrap: wrap;
    border: 2px solid rgb(48, 143, 160);


}
.subheading-info {
    flex-wrap: wrap;
    border: 2px solid rgb(95, 110, 67);


}
.subheading-info {
    flex-wrap: wrap;
    border: 2px solid rgb(55, 250, 217);


}
@media screen and (min-width: 768px) {

}

@media screen and (min-width: 768px) {

}